#content {
width: 100%;
padding: 0;
min-height: 100vh;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
background-color: black;
}

.ecoin {
    margin-top: 50px !important;
    margin: 0 auto;
    text-align: center;
}

.ecoin-exchange {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.ecoin-buy {
    padding: 15px;
    color: green;
}

.ecoin-sell {
    padding: 15px;
    color: red;
}

.btn-buy {
    background-color: #28a745;
    padding: 15px;
    color: white;
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 40px;
    border: none;
    border-radius: 30px;
}

.btn-sell {
    background-color: red;
    padding: 15px;
    color: white;
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 40px;
    border: none;
    border-radius: 30px;
}

.btn-sell:hover {
    background-color: #97122e;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: green;
    cursor: pointer;
}

.chart-currency {
    width:1000px;
    max-width:1000px;
    margin: 20px auto;
}

.coin-container {
    color: white;
}
