/*======================================
    Variables
========================================*/
/*======================================
    Normalize CSS
========================================*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
    overflow-x: hidden;
    font-size: 15px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
}

* {
    margin: 0;
    padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #3E80FF;
    border-color: #3E80FF;
}

span,
a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
}

/*======================================
    Call To Action CSS
========================================*/
.call-action {
    background-color: #F4F7FA;
}

.call-action .inner-content {
    position: relative;
    padding: 80px 0;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .call-action .inner-content {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .call-action .inner-content {
        padding: 50px 0;
        text-align: center;
    }
}

.call-action .inner-content .bg-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.call-action .text h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #081828;
}

.call-action .text h2 span {
    color: #7E57FF;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .call-action .text h2 {
        font-size: 25px;
        line-height: 38px;
    }
}

@media (max-width: 767px) {
    .call-action .text h2 {
        font-size: 22px;
        line-height: 32px;
    }
}

.call-action .text h2 span {
    display: block;
    color: #3E80FF;
}

.call-action .button {
    float: right;
}

@media (max-width: 767px) {
    .call-action .button {
        float: none;
        margin-top: 30px;
    }
}

.section {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* Section Title */
.section-title {
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
}

.section-title h3 {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
    color: #3E80FF;
    text-transform: capitalize;
}

.section-title h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}

.section-title p {
    font-size: 16px;
    line-height: 28px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title {
        padding: 0px 200px;
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
        padding: 0px 20px;
        margin-bottom: 50px;
    }
    .section-title h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .section-title p {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .section-title {
        padding: 0px 10px;
        margin-bottom: 40px;
    }
    .section-title h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    .section-title p {
        font-size: 15px;
    }
}

.section-title.align-right {
    padding: 0;
    padding-left: 600px;
}

.section-title.align-right h2:before {
    display: none;
}

.section-title.align-right h2:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #3E80FF;
    content: "";
}

.section-title.align-left {
    padding: 0;
    padding-right: 600px;
}

.section-title.align-left h2:before {
    left: 0;
    margin-left: 0;
}

/* Overlay */
.overlay {
    position: relative;
    z-index: 1;
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #24126A;
    content: "";
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
}

/* Pagination CSS */
.pagination {
    text-align: left;
    margin: 60px 0 0 0;
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pagination {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .pagination {
        margin-top: 40px;
    }
}

.pagination.center {
    text-align: center;
}

.pagination.right {
    text-align: right;
}

.pagination.left {
    text-align: left;
}

.pagination .pagination-list {
    display: inline-block;
    overflow: hidden;
}

.pagination .pagination-list li {
    margin-right: 5px;
    display: inline-block;
    margin-top: 10px;
}

.pagination .pagination-list li:last-child {
    margin-right: 0px;
}

.pagination .pagination-list li a {
    background: #fff;
    color: #081828;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 20px;
    text-align: center;
    border: 1px solid #eee;
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
    background: #3E80FF;
    color: #fff;
    border-color: transparent;
}

.pagination .pagination-list li a i {
    font-size: 13px;
}

.blog-grids.pagination {
    margin-top: 50px;
    text-align: center;
}

.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 30px;
    background-color: #3E80FF;
    color: #fff;
    border: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn {
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 767px) {
    .button .btn {
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

.button .btn i {
    display: inline-block;
    margin-right: 5px;
}

.button .btn:last-child {
    margin: 0;
}

.button .btn:hover {
    color: #fff;
    background-color: #24126A;
}

.button {
    margin-left: 0 !important;
}

.button .btn-alt {
    background-color: #24126A !important;
    color: #fff !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn-alt {
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 767px) {
    .button .btn-alt {
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

.button .btn-alt:hover {
    background-color: #3E80FF !important;
    color: #fff !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
}

.preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #3E80FF;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

/*======================================
	01. Start Header CSS
========================================*/
.header {
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        padding: 18px 0 !important;
    }
    .header .mobile-menu-btn .toggler-icon {
        background-color: #fff;
    }
    .header .button {
        margin: 0 !important;
    }
    .header .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 8px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
        color: #3E80FF !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item {
        margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
        color: #3E80FF;
    }
    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
        display: none;
    }
    .header .navbar-nav .nav-item .sub-menu {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 12px 12px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }
    .header .navbar-nav .nav-item .sub-menu li.active {
        background: #fff !important;
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item {
        margin: 0 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 10px 12px !important;
    }
    .header .navbar-nav .nav-item .sub-menu li:hover {
        background: #fff !important;
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item a {
        font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
        color: #3E80FF;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 18px 0 !important;
    }
    .header .mobile-menu-btn .toggler-icon {
        background-color: #fff;
    }
    .header .navbar-collapse {
        position: absolute;
        top: 62px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 8px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
        color: #3E80FF !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item {
        margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
        color: #3E80FF;
    }
    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
        display: none;
    }
    .header .navbar-nav .nav-item .sub-menu {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 12px 12px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }
    .header .navbar-nav .nav-item .sub-menu li.active {
        background: #fff !important;
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item {
        margin: 0 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 10px 12px !important;
    }
    .header .navbar-nav .nav-item .sub-menu li:hover {
        background: #fff !important;
        color: #3E80FF !important;
    }
    .header .navbar-nav .nav-item a {
        font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
        color: #3E80FF;
    }
}

.header .navbar-brand img {
    width: 200px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .navbar-brand img {
        width: 190px;
    }
}

@media (max-width: 767px) {
    .header .navbar-brand img {
        width: 180px;
    }
}

.header.sticky .button .btn {
    background-color: #3E80FF;
    color: #fff;
}

.header.sticky .button .btn:hover {
    background-color: #24126A;
    color: #fff;
}

.sticky {
    position: fixed;
    z-index: 99;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 0;
    background-color: #fff;
}

.navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header .navbar .navbar-nav .nav-item a.active {
    color: #fff;
}

.sticky .navbar .navbar-nav .nav-item a.active {
    color: #3E80FF;
}

.sticky .navbar .navbar-nav .nav-item a {
    color: #24126A;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
    background: #333;
}

/*===== NAVBAR =====*/
.navbar-area {
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0;
}

.navbar-area.sticky {
    position: fixed;
    z-index: 99;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0px 0;
}

.navbar {
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding-left: 0;
    border-radius: 0;
}

.mobile-menu-btn {
    padding: 0px;
}

.mobile-menu-btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

.navbar-nav .nav-item {
    z-index: 1;
    position: relative;
    margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
    color: #3E80FF;
}

.sticky .navbar-nav .nav-item:hover a {
    color: #3E80FF;
}

.navbar-nav .nav-item a {
    font-size: 15px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 35px 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar-nav .nav-item a::after {
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item:hover a:before {
    width: 100%;
}

.navbar-nav .nav-item a.active {
    color: #fff;
}

.navbar-nav .nav-item a.dd-menu::after {
    content: "\ea5e";
    font: normal normal normal 1em/1 "LineIcons";
    position: absolute;
    right: 17px;
    font-size: 10px;
    top: 50%;
    margin-left: 5px;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item a.dd-menu::after {
        right: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a.dd-menu::after {
        top: 18px;
        right: 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item a.collapsed::after {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.navbar-nav .nav-item:hover > .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.navbar-nav .nav-item:hover > .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.navbar-nav .nav-item .sub-menu {
    padding: 30px;
    min-width: 240px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 20px #0000001a;
    box-shadow: 0px 5px 20px #0000001a;
    position: absolute;
    top: 110% !important;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0 0 4px 4px;
    border-radius: 5px;
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100% !important;
}

.navbar-nav .nav-item .sub-menu .nav-item {
    width: 100%;
    margin-bottom: 15px;
}

.navbar-nav .nav-item .sub-menu .nav-item:last-child {
    margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 0;
    color: #888;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #3E80FF;
}

.navbar-nav .nav-item .sub-menu.left-menu {
    left: -100%;
}

.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
        display: none;
    }
}

.navbar-nav .nav-item .sub-menu > li {
    display: block;
    margin-left: 0;
}

.navbar-nav .nav-item .sub-menu > li:last-child {
    border: none;
}

.navbar-nav .nav-item .sub-menu > li.active > a {
    color: #3E80FF !important;
}

.navbar-nav .nav-item .sub-menu > li > a {
    font-weight: 400;
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    color: #222;
}

.navbar-nav .nav-item .sub-menu > li:first-child a {
    border: none;
}

.header .button {
    display: inline-block;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .header .button {
        display: none;
    }
}

.header .button .btn {
    background-color: #fff;
    color: #24126A;
    font-weight: 500;
}

.header .button .btn:hover {
    color: #fff;
    background-color: #3E80FF;
}

.sticky .button .btn {
    background-color: #3E80FF;
    color: #fff;
}

.sticky .button .btn:hover {
    background-color: #3E80FF;
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .header .button .signin {
        color: #24126A;
    }
    .header .button .signin:hover {
        color: #3E80FF;
    }
    .header .button .signup {
        background-color: #3E80FF;
        color: #fff;
    }
    .header .button .signup:hover {
        background-color: #3E80FF;
        color: #fff;
    }
}

/*======================================
     End Header CSS
  ========================================*/
/*======================================
    Hero Area CSS
========================================*/
.hero-area {
    position: relative;
    background-color: black;
    padding: 180px 0 127px 0;
}

.hero-area .hero-shape {
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area {
        padding: 130px 0 150px 0;
    }
}

@media (max-width: 767px) {
    .hero-area {
        padding: 110px 0 100px 0;
    }
}

.hero-area .hero-content {
    border-radius: 0;
    position: relative;
    z-index: 1;
    text-align: left;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-content {
        padding: 0px 140px;
    }
}

.hero-area .hero-content h4 {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}

.hero-area .hero-content h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #fff;
    text-transform: capitalize;
}

.hero-area .hero-content h1 span {
    position: relative;
    z-index: 0;
}

.hero-area .hero-content h1 span .text-shape {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    z-index: -1;
}

.hero-area .hero-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-top: 20px;
}

.hero-area .hero-content .button {
    margin-top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-content .button {
        margin-top: 30px !important;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hero-area .hero-content .button {
        margin-top: 30px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hero-area .hero-content .button .btn {
        width: 100%;
    }
}

.hero-area .hero-content .button .btn:hover {
    color: #24126A;
    background-color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .hero-content h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-content {
        text-align: center;
    }
    .hero-area .hero-content h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
    }
    .hero-area .hero-content p {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .hero-area .hero-content {
        padding: 0 10px;
        text-align: center;
    }
    .hero-area .hero-content h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .hero-area .hero-content p {
        margin-top: 15px;
        font-size: 15px;
        line-height: 26px;
    }
    .hero-area .hero-content .button .btn {
        width: 60%;
        margin: 0;
        margin-bottom: 7px;
    }
    .hero-area .hero-content .button .btn:last-child {
        margin: 0;
    }
}

.hero-area .hero-image {
    text-align: center;
    position: relative;
    z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .hero-area .hero-image {
        display: none;
    }
}

.hero-area .hero-image .main-image {
    z-index: 0;
}

.hero-area .hero-image .h2-move-1 {
    position: absolute;
    left: 42%;
    -webkit-animation: bounce 3s linear infinite;
    animation: bounce 3s linear infinite;
}

.hero-area .hero-image .h2-move-2 {
    position: absolute;
    left: 45%;
    top: 68%;
    -webkit-animation: bounce 3s linear infinite;
    animation: bounce 3s linear infinite;
}

.hero-area .hero-image .h2-move-3 {
    position: absolute;
    left: 47%;
    top: 26%;
    z-index: -1;
    -webkit-animation: bounce 4s linear infinite;
    animation: bounce 4s linear infinite;
}

.hero-area .hero-image .dot-dot {
    position: absolute;
    left: -10%;
    top: -14%;
    height: 113%;
    -webkit-animation: rotate2d 30s linear infinite;
    animation: rotate2d 30s linear infinite;
    width: 100%;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.bounce {
    -webkit-animation: bounce 2s linear infinite;
    animation: bounce 1s linear infinite;
}

@-webkit-keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate2d {
    -webkit-animation: rotate2d 2s linear infinite;
    animation: rotate2d 1s linear infinite;
}

@-webkit-keyframes rotate-2d {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotate-2d {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.rotate-2d {
    -webkit-animation: rotate-2d 2s linear infinite;
    animation: rotate-2d 1s linear infinite;
}

@-webkit-keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

/*======================================
	Features CSS
========================================*/
.feature {
    position: relative;
    z-index: 0;
    padding-top: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature {
        padding-top: 50px;
    }
}

@media (max-width: 767px) {
    .feature {
        padding-top: 40px;
    }
}

.feature .section-title {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature .section-title {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .feature .section-title {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
    .feature .upper-content {
        padding-right: 100px;
    }
}

.feature .upper-content .lasthead {
    font-size: 16px;
    font-weight: 600;
    color: #3E80FF;
    margin-bottom: 15px;
}

.feature .upper-content .title {
    font-size: 28px;
    font-weight: 600;
    font-size: 40px;
    font-weight: 700;
    padding: 21px 0 16px;
}

.feature .upper-content p {
    margin-top: 20px;
}

.feature .upper-content .button {
    margin-top: 40px;
}

.feature .feature-box {
    min-height: 300px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px rgba(81, 94, 125, 0.082);
    box-shadow: 0px 0px 30px rgba(81, 94, 125, 0.082);
    padding: 40px 50px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-top: 3px solid #F4F7FA;
    border-bottom: 3px solid #F4F7FA;
}

.feature .feature-box:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-top-color: #3E80FF;
    border-bottom-color: #3E80FF;
}

.feature .feature-box .tumb img {
    height: 150px;
}

.feature .feature-box .text-title {
    color: #3b368c;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.feature .feature-box p {
    line-height: 26px;
    font-size: 15px;
}

/*======================================
	Footer CSS
========================================*/
.footer {
    background-color: #24126A;
    position: relative;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .footer .single-footer {
        margin-top: 40px;
        text-align: center;
    }
}

.footer .single-footer.f-about {
    padding-right: 30px;
}

@media (max-width: 767px) {
    .footer .single-footer.f-about {
        padding: 0;
    }
}

.footer .single-footer.f-about .logo {
    margin-bottom: 20px;
}

.footer .single-footer.f-about .logo img {
    width: 200px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer.f-about .logo img {
        width: 190px;
    }
}

@media (max-width: 767px) {
    .footer .single-footer.f-about .logo img {
        width: 180px;
    }
}

.footer .single-footer.f-about p {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 25px;
}

.footer .single-footer.f-about .social-title {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.footer .single-footer.f-about .social li {
    display: inline-block;
    margin-right: 15px;
}

.footer .single-footer.f-about .social li:last-child {
    margin: 0;
}

.footer .single-footer.f-about .social li a {
    color: #fff;
}

.footer .single-footer.f-about .social li a:hover {
    color: #3E80FF;
}

.footer .single-footer.f-about .copyright-text {
    color: #fff;
    font-size: 15px;
    margin-top: 40px;
}

.footer .single-footer.f-about .copyright-text span {
    display: block;
}

@media (max-width: 767px) {
    .footer .single-footer.f-about .copyright-text {
        margin-top: 20px;
    }
}

.footer .single-footer.f-about .copyright-text a {
    color: #fff;
    text-decoration: underline;
}

.footer .single-footer.f-link li {
    display: block;
    margin-bottom: 15px;
}

.footer .single-footer.f-link li:last-child {
    margin: 0;
}

.footer .single-footer.f-link li a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.footer .single-footer.f-link li a:hover {
    color: #3E80FF;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
    .footer .single-footer.newsletter {
        padding-left: 80px;
    }
}

.footer .single-footer.newsletter p {
    color: #fff;
}

.footer .single-footer h3 {
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer h3 {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .footer .single-footer h3 {
        margin-bottom: 25px;
    }
}

.footer .newsletter-form {
    margin-top: 30px;
    position: relative;
}

.footer .newsletter-form input {
    height: 52px;
    width: 100%;
    border-radius: 8px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    padding-left: 18px;
    padding-right: 70px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #ffffff1f;
    color: #fff;
}

.footer .newsletter-form input:hover {
    border-color: #3E80FF;
}

.footer .newsletter-form input:focus {
    border-color: #3E80FF;
}

.footer .newsletter-form .button {
    position: absolute;
    right: 0px;
    top: 0;
}

.footer .newsletter-form .button .sub-btn {
    height: 52px;
    width: 52px;
    border-radius: 0 6px 6px 0;
    background-color: #ffffff29;
    color: #fff;
    text-align: center;
    line-height: 52px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.footer .newsletter-form .button .sub-btn:hover {
    color: #fff;
    background-color: #3E80FF;
}

.footer .copyright-area .inner-content {
    border-top: 1px solid rgba(238, 238, 238, 0.288);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 80px;
}

@media (max-width: 767px) {
    .footer .copyright-area .inner-content {
        margin-top: 50px;
        text-align: center;
    }
}

.footer .copyright-area .copyright-owner {
    text-align: right;
}

@media (max-width: 767px) {
    .footer .copyright-area .copyright-owner {
        text-align: center;
        margin-top: 3px;
    }
}

.footer .copyright-area p {
    color: #fff;
    font-size: 15px;
}

.footer .copyright-area p a {
    text-decoration: underline;
    color: #fff;
}

.footer .copyright-area p a:hover {
    color: #3E80FF;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}
.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.modal-content {
    z-index: 1041 !important;
}

.form-control {
    margin-bottom: 15px;
}

.close {
    background-color: white;
    border: none;
    font-size: 30px;
}
