* {
    padding: 5px;
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    border: 2px solid black;
    text-align: center;
}

th {
    border-bottom: 1px solid black;
}

h1 {
    color: blue;
}

a {
    font-size: large;
}