.asset-detail-container {

    color: white;
    padding: 100px;
}

.asset-title {
    display: flex;
}

.asset-logo {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.asset-detail-ticker {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0px !important;
}

.asset-detail-name {
    font-size: 1rem;
}

.asset-description-container {
    display: flex;
    flex-direction: row;
}

.asset-contract {
    color: #818ea3!important;
    font-size: 13px;
    padding: 5px;
}

.asset-description {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.own-container {
    display: flex;
}

.btn-container {
    display: flex;

}

.btn-container button {
    padding: 0 12px;
    font-size: 14px;
    border-radius: 5%;
    border: none;
    margin-left: 5px;
    color: white;
}

.buy-btn {
    background-color: #17c671;
}

.buy-btn:hover {
    background-color: green;
}

.sell-btn {
    background-color: #ff2d79;
}

.sell-btn:hover {
    background-color: red;
}

.transfert-btn {
    background-color: lightslategray;
}

.transfert-btn:hover {
    background-color: grey;
}

.price-currency {
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    color: #17c671!important;
    font-size: 2rem;
}

.currency-detail-container {
    padding: 30px 0;
}
.currency-details {
    text-align: right;
    font-weight: 300;
    color: #cacedb;
}

.token-title-info {
    display: inline-block;
    width: 65%;
    color: #cacedb;
}

.chart-and-detail-container {
    display: flex;
}

.chart-currency {
    width: 500px !important;
    height: 270px !important;
}

.dashboard-container {
    color: white;
    display: flex;
}

.dashboard-container-each {
    display: flex;
    flex-direction: column;
}

.dashboard-container .btn-container {
    flex-direction: column;
}

.dashboard-container .asset-detail-container {
    display: flex;
    flex-direction: column;
}

.assets-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border-bottom: 1px solid #3d5170;
    width: 400px;
}
.asset-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 351px;
}

.container-assets {
    padding: 20px;
    margin: 0 auto;

}
.asset-value {
    color: #727272;
    font-size: 15px;
}

.asset-balance {
    margin-bottom: 0px !important;
}
.asset-logo {
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.info-icon {
    font-size: 25px;
}

#eboard {
    color: white;
    padding: 30px 0 30px 3px;
    margin-left: 30px;
}

.dashboard-container .btn-container {
    flex-direction: row;
}

.dashboard-container .price-currency {
    text-align: right;
    font-weight: bold;
    color: #17c671!important;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 0;
}

.currency-block {
    padding: 0 0 30px 0;
    padding: 10px;
}

.dashboard-container .asset-description {
    width: 100%;
}

.dashboard-container .asset-detail-container {
   padding:  0 46px 0px 45px;
}