<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Trade Cryptocurrency</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${'Buy ' + tradeOrder.currencyToBuy.ticker}"></h1>

<div>
    PRICE CHART
</div>
    <div>
        <ul>
            <li th:text="${'Your ' + tradeOrder.currencyToBuy.ticker + 'balance: ' + 'xxx' + tradeOrder.currencyToBuy.ticker}"></li>
        </ul>
        <form th:object="${tradeOrder}" method="post" th:action="@{'/trade/place'}">
        <input type="hidden" th:value="${tradeOrder.currencyToBuy.id}" name="idCurrencyToBuy" />

            Buy <b th:text="${tradeOrder.currencyToBuy.ticker}"></b> with

            <select th:field="*{currencyToSell}">
                <option th:each="i : ${currenciesToSell}" th:text="${i.ticker}" th:value="${i.id}"></option>
            </select>
            <input type="hidden" th:value="${currencyToSell.id}" name="idCurrencyToSell" />

            <div>
                <label th:text="${'Amount of ' + currencyToSell.ticker} + ':'"></label>
                <input type="text" th:field="*{amountToBuy}" />
            </div>
            <div>
                <label th:text="${'Will get you in ' + tradeOrder.currencyToBuy.ticker} + ':'"></label>
                <label th:name="amountToBuy" th:value="xxx" th:onchange=""></label>
            </div>
            <button type="submit" th:text="${'Buy XXX ' + tradeOrder.currencyToBuy.ticker + ' with ' + 'XXX' + ' ' + currencyToSell.ticker}"></button>
    </form>
    </div>
</div>
</body>
</html>