<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Transfer From Wallet To Wallet</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/wallet/save-transaction}">
        <input type="hidden" th:field="${sourceAsset.id}"/>
        <div>
            <label>Wallet Address :</label>
            <input type="text" th:field="${targetUser.walletAddress}"/>
        </div>
        <div>
            <label th:text="'Amount: should be less than or equal to ' + ${sourceAsset.balance} + ' ' + ${sourceAsset.currency.ticker}"></label>
            <input type="number" step="any" min="0" th:max="${sourceAsset.balance}" th:field="${transaction.amount}"/>
        </div>
        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>