<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">EQLExchange</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<div layout:insert="aside"></div>

<script th:inline="javascript">

    var data = [[${currencyPricesJSON}]];
    const dataJSON = JSON.parse(data);

    var xValues = [];
    var yValues = [];
    var dateTime;
    var year, month, day, hour, minutes, seconds;
    var today = new Date();

    dataJSON.forEach(function(priceAndDate){
        year = priceAndDate.dateTime.date.year;
        month = priceAndDate.dateTime.date.month - 1;
        day = priceAndDate.dateTime.date.day;
        hour = priceAndDate.dateTime.time.hour;
        minutes = priceAndDate.dateTime.time.minute;
        seconds = priceAndDate.dateTime.time.second;
        dateTime = new Date(year,month,day,hour,minutes,seconds);
        if(dateTime.getDate() == today.getDate()) {
            xValues.push(dateTime.toLocaleTimeString());
        } else if(dateTime.getDate() == today.getDate() - 1) {
            xValues.push("Yesterday " + dateTime.toLocaleTimeString());
        } else{
            xValues.push(dateTime.toLocaleString());
        }
        yValues.push(priceAndDate.price);
    });




    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "white",
                borderColor: "white",
                data: yValues
            }]
        },
        options: {
            legend: {
                display: false,
                labels: {
                    font: {
                        size: 18
                    }
                }
            },
            scales: {
                yAxes: [{ticks: {min: 0}}],
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>