<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Wallet - ' + asset.currency.name + ' details'}"></title>
    <link rel="stylesheet" href="/css/wallet_details.css">
</head>
<body>
<div layout:fragment="content">


    <div class="asset-detail-container">

        <div class="asset-title">
            <div>
                <img class="asset-logo" th:src="@{'/img/' + ${asset.currency.ticker.toLowerCase()} +'.png'}"/>
            </div>

            <div class="asset-description">
                <div>
                    <h2 th:text="${asset.currency.ticker.toUpperCase()}" class="asset-detail-ticker"></h2>
                </div>
                <div class="asset-description-container">
                    <span class="asset-detail-name" th:text="${ '(' + asset.currency.name + ')'}"></span>
                    <p class="asset-contract" th:text="${'Token contract : ' + asset.currency.contractAddress}"></p>
                </div>
            </div>
        </div>

        <div class="chart-and-detail-container">
            <div>
                <div class="btn-container">
                    <div class="own-container">
                        <h5 th:text="${asset.balance + ' ' + asset.currency.ticker}"></h5>
                        <span class="asset-contract"
                              th:text="${ '≈ ' + ((asset.balance) * (asset.currency.currencyPrices.get(asset.currency.currencyPrices.size() - 1).price)) + '$'}"></span>
                    </div>
                    <a href="#" th:href="@{'/trade/buy/' + ${asset.currency.id}}"><button class="buy-btn">Buy</button></a>
                    <a href="#"><button class="sell-btn">Buy</button></a>
                    <a href="#" th:href="@{'/wallet/' + ${asset.id} + '/transfer'}"><button class="transfert-btn">Transfer</button></a>
                </div>

                <div class="currency-detail-container">
                    <div style="display: flex">
                        <i class="fa fa-light fa-arrow-trend-up"></i>
                        <h3 class="price-currency"
                            th:text="${ '$' + asset.currency.currencyPrices.get(asset.currency.currencyPrices.size() - 1).price}"></h3>
                    </div>
                    <div class="token-infos">
                        <span class="token-title-info">Maximum liquidity :</span>
                        <span class="currency-details"
                              th:text="${asset.currency.maximumSupply > 0 ? asset.currency.maximumSupply : 'Unlimited'}"></span>
                        <span class="token-title-info">Cirulating supply :</span>
                        <span class="currency-details" th:text="${asset.currency.circulatingSupply}"></span>
                        <span class="token-title-info">Market Cap :</span>
                        <span class="currency-details"
                              th:text="${marketcap}"></span>
                    </div>
                </div>
            </div>
            <canvas id="myChart" class="chart-currency"></canvas>
        </div>

    </div>
    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                <th th:text="${asset.currency.name + ' amount'}" scope="col"></th>
                <th th:text=" ${asset.currency.name + ' price'} " scope="col"></th>
                <th scope="col">Total USD</th>
                <th scope="col">Txn Hash</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <th scope="row" th:text="${transaction.date.toString.replace('T', ' ')}"></th>
                <td th:if="${transaction.sourceAsset.id.equals(asset.id)}" style="color: red">Sell</td>
                <td th:unless="${transaction.sourceAsset.id.equals(asset.id)}" style="color: #28a745">
                    Buy
                </td>
                <td th:if="${transaction.sourceAsset.id.equals(asset.id)}" th:text="${'-' + transaction.amount}" style="color: red"></td>
                <td  th:unless="${transaction.sourceAsset.id.equals(asset.id)}" th:text="${'+' + transaction.amount}" style="color: #28a745"></td>
                <td th:text="${asset.currency.currencyPrices.get(asset.currency.currencyPrices.size() - 1).price}"></td>
                <td th:text="${transaction.amount * (asset.currency.currencyPrices.get(asset.currency.currencyPrices.size() - 1).price)     }"></td>
                <th scope="row" th:text="${transaction.txId}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>