<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Wallet - ${asset.currency.name} details"></title>
</head>
<body>
<h1 th:text="Your ${asset.currency.name} wallet"></h1>
<div th:text="${asset.balance} ${asset.currency.ticker}"></div>
<a href="#" th:href="${'/trade/' + ${asset.currency.ticker} + '/ETH'}">Buy</a>
 | <a href="#" th:href="${'/trade/ETH/' + ${asset.currency.ticker}}">Sell</a>
 | <a href="#" th:href="${'/transfer/' + ${asset.currency.ticker} + '/ETH'}">Transfer</a>

</body>
</html>