<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Wallet Overview</title>
    <link rel="stylesheet" href="/css/wallet.css">
</head>
<body>
<div layout:fragment="content">
    <div class="wallet-container">
        <div class="ecoin">

            <h1>Wallet</h1>
            <h2 th:text="${sessionUser.walletAddress.substring(0, 8) + '...' + sessionUser.walletAddress.substring((sessionUser.walletAddress.length() - 5), (sessionUser.walletAddress.length() - 1))  }"></h2>
            <h2 th:text="${#numbers.formatDecimal(sessionUser.totalAssetsValue(assets), 1, 2)} + '$'"></h2>


            <div class="container-assets">
                <div class="assets-container" th:each="asset : ${assets}">

                    <div>
                        <img class="asset-logo" th:src="@{'/img/' + ${asset.currency.ticker.toLowerCase()} +'.png'}"/>
                    </div>

                    <div class="asset-container">
                        <div>
                            <h5 class="asset-balance" th:if="${asset.balance != 0} "
                                th:text="${#numbers.formatDecimal(asset.balance, 1, 4) + ' ' + asset.currency.ticker }"></h5>
                            <h5 class="asset-balance" th:if="${asset.balance == 0}"
                                th:text="${'0 ' + asset.currency.ticker }"></h5>
                        </div>
                        <div>
                        <span class="asset-value"
                              th:text="${'= ' + #numbers.formatDecimal((asset.balance * asset.currency.currencyPrices.get(asset.currency.currencyPrices.size() - 1).price), 1, 2) + ' $'}"></span>
                        </div>
                    </div>
                    <div>
                        <a class="info-icon" href="#" th:href="@{'/wallet/' + ${asset.id}}"><i class="fa fa-solid fa-info"></i></a>
                    </div>
                    <hr class="my-4">
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>